* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    padding: 18px 35px 18px 35px;
    background: #5D3AAC;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    border: none;
}

section {
    margin-top: 130px;
}

/* Nev style */

nav h2 {
    font-weight: 800;
    font-size: 45px;
}

.rcolor {
    color: #5D3AAC;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    padding: 50px 0;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    margin-left: 50px;
}

/* banner */

.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-sub-title {
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 5px;
}

.main-name {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.details {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.banner img {
    width: 35%;
}

.full-banner {
    background: #FFF8F3;
    background-image: url(images/header_bg.png), url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* main, about */

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    background: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;

}

.section-details {
    color: #757575;
    font-size: 18px;
    margin-bottom: 50px;
    font-size: 18px;
    text-align: center;

}

.about-info-con {
    display: flex;
    justify-content: space-around;
}

.about-info .info-title {
    font-size: 20px;
    color: #757575;
}

.info-details {
    font-weight: 500;
    font-size: 20px;
    color: #474747;
}

/* What I Do */

.padd {
    padding: 0 150px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-con {
    display: flex;
    gap: 24px
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-details {
    color: #757575;
}

/* Resume */

.resume-content {
    display: flex;
    gap: 24px;
    margin-top: 100px;
}

.resume-item .title {
    font-weight: 500;
    font-size: 25px;
}

.resume-titel {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}


.resume .sub-title {
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.resume .details {
    color: #7575757;
}

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

hr {
    border: 1px solid #D1D1D1;
}

.re-btn{
    margin-top: 50px;
    text-align: center;
}

/* Contact */
.contact .section-title{
    text-align: left;
}

.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}

.contact input[type="text"],input[type="email"], textarea{
    margin-bottom: 24px;
    border: none;
    width: 100%;
    padding: 18px 30px;
}

.contact a{
    text-decoration: none;
}